<nav>
    <h2>Menu</h2>
    <ul class="slide">
        <li class="on"><a href="/">All Post</a>
        </li>
        <li><a>Study</a>
            <ul>
                <li><a href="{{ .Site.BaseURL }}/Study/Baekjoon">Baekjoon</a></li>
            </ul>
            <span class="down"></span>
        </li>
/bin/bash: line 1: q: command not found
/bin/bash: line 1: q: command not found
/bin/bash: line 1: q: command not found
/bin/bash: line 1: wq: command not found
/bin/bash: line 1: q: command not found
/bin/bash: line 1: q: command not found
