<nav>
    <h2>Menu</h2>
    <ul class="slide">
        <li class="on"><a href="/">All Post</a>
        </li>
        <li><a>Study</a>
            <ul>
                <li><a href="{{ .Site.BaseURL }}/study/baekjoon">Baekjoon</a></li>
            </ul>
            <span class="down"></span>
        </li>
	<hr />
	        <li><a href="{{ .Site.BaseURL }}/about">About</a></li>
        <li><a href="{{ .Site.BaseURL }}/archive">Archive</a></li>
        <li><a href="{{ .Site.BaseURL }}/tags">Tag</a></li>
    </ul>
</nav>
